.animate-right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s ease;
}

.animate-right.show {
  opacity: 1;
  transform: translateX(0);
}

.animate-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease;
}

.animate-left.show {
  opacity: 1;
  transform: translateX(0);
}
