.statistics {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/svg/wave-haikei2.svg");
  background-size: cover;
  background-position: bottom;
}

.statistics div {
  padding: 1rem;
  width: 600px;
}

.statistics summary {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
}

.statistics p {
  display: none;
  margin-bottom: 1rem;
}

.statistics details[open] p {
  display: block;
}

.statistics cite {
  font-style: italic;
}

.statistics cite a:hover {
  text-decoration: underline;
}
